<div id="<%= dom_id maintenance_car_service %>">
    <div class="p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 my-3">
        <p class="font-bold text-gray-950">Description: <%= maintenance_car_service.description %></p>
        <p class="font-bold text-gray-950">Status: <%= maintenance_car_service.status %></p>
        <p class="font-bold text-gray-950">Discharge date: <%= maintenance_car_service.date %></p>
    </div>
</div>